<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Su cuenta fue creada con éxito</h2>
        <p>Ahora puede iniciar sesión en su cuenta con sus credenciales.</p>
        <hr />
        <p>¡Gracias!</p>
    </div>
</div>