<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Pedido completado con éxito</h2>
        <p>Puedes consultar todos tus pedidos en el apartado Pedidos de tu perfil</p>
        <hr />
        <p>¡Gracias!</p>
    </div>
</div>